.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(190, 197, 204);
  border-radius: 0.5em;
  padding: 2em;
}


.input {
  font-size: 18px;
  padding: 5px 10px;
  width: 50%;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 1px solid #c4d1eb;
  border-radius: 5px;
  text-align: end;
}

.button_start {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.button_start:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.button_start:active {
  position: relative;
  top: 1px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card_timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.2);
  width: 5em;
  padding: 5px 20px;
  border-radius: 10px;
}

.button_stop {
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.button_stop:hover {
  background-color: #eb675e;
}
.button_stop:active {
  position: relative;
  top: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
